<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @movie.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
        <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.title %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.movie_length %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <div class="pull-right">
          <span class="pull-right">
            <% if current_user && current_user.is_member_of?(@movie) %>
             <label class="label label-success"> 群组成员 </label>
             <%= link_to("取消收藏", quit_movie_path(@movie), method: :post, class: "btn btn-default") %>
            <% else %>
             <label class="label label-warning"> 不是群组成员 </label>
             <%= link_to("添加收藏", join_movie_path(@movie), method: :post, class: "btn btn-default") %>
            <% end %>
         </span>
         <% if current_user && current_user.is_member_of?(@movie) %>
        <%= link_to "Write Review", new_movie_review_path(@movie), class: "btn btn-danger" %>
        <% end %>
        </div>
        <h1 class="review_title"><%= @movie.title %></h1>
        <p><%= @movie.description %></p>
        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first!</h3>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.comment %></p>
            </div>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
<div class="button-show">
<% if current_user && current_user == @movie.user %>

<%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-info" %>
<%= link_to 'Back', movies_path, class: "btn btn-info" %>
<% end %>
</div>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
